.card-profesores-catedra {
  border-left: 4px solid var(--main-page-color);
  border-radius: 9px;
}

.card-profesores-catedra h4 {
  color: var(--main-page-color);
  margin-bottom: 11px;
  font-size: 1rem;
}

.card-profesores-catedra a {
  color: var(--main-page-color);
  font-size: 0.9em;
}

.card-profesores-catedra small {
  font-size: 0.9em;
}

.card-profesores-catedra i {
  color: var(--main-page-color);
}